{% extends 'base.html.twig' %}


{% block body %}


   <section style="height:80%">
      <h2 class="contact-title">DISCUTONS AVEC PLAISIR</h2>
      <div class="contact-text">
         <p>POUR LES DEMANDES GÉNÉRALES</p> 
         <span>OU</span> 
         </p>COLLABORER AVEC MOI</p>
      </div>
      <p class="contact-email">sazuradesign@gmail.com</p>
      <div class="contact-social">
            <p>INSTAGRAM</p>
            <p>TWITTER</p>
      </div>
      <p class="contact-arobase">@SAZURAVISUALS</p>
   </section>


{% endblock %}
