{% extends 'base.html.twig' %}


{% block body %}


   <section class="contactapge" >
      <h2 class="contact-title">DISCUTONS AVEC PLAISIR</h2>
      <div class="contact-text">
         <p>POUR LES DEMANDES GÉNÉRALES</p> 
         <span>OU</span> 
         </p>COLLABORER AVEC MOI</p>
      </div>
      <a href="mailto:sazuradesign@gmail.com" class="contact-email">sazuradesign@gmail.com</a>
      <a href="https://www.instagram.com/sazuravisuals/?hl=fr" target = "_blank" class="contact-arobase">@SAZURAVISUALS</a>
   </section>
   <div class="footer_acceuil">
        <p class="text-footer">ALL RIGHTS RESERVED©SAZURAVISUALS-STUDIOIKAR/2021</p>
    </div>


{% endblock %}
