{% extends 'base.html.twig' %}


{% block body %}


   <section class="shop">
      <p>En cours de développement<p>
      <div class="btn-boutique">
      <a href="{{ path('contact') }}">CONTACT</a>
      </div>
   </section>


{% endblock %}
