{% extends 'base.html.twig' %}


{% block body %}


   <section class="shop">
      <h1>En cours de développement</h1>
      <div class="btn-boutique"><a href="{{ path('shop') }}">Contactez-nous</a></div>
   </section>


{% endblock %}
