/* GENERAL */


@font-face {
    font-family: "Porpora";
    src: url("../fonts/Porpora-Regular.woff2") format("woff2"),
    url("../fonts/Porpora-Regular.woff") format("woff");
}
@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-Regular.eot") format("eot"),
    url("../fonts/Noah-Regular.woff") format("woff"),
    url("../fonts/Noah-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Noah Italic";
    src: url("../fonts/Noah-RegularItalic.eot") format("eot"),
    url("../fonts/Noah-RegularItalic.woff") format("woff"),
    url("../fonts/Noah-RegularItalic.woff2") format("woff2");
}
@font-face {
    font-family: "Noah Bold";
    src: url("../fonts/Noah-Bold.eot") format("eot"),
    url("../fonts/Noah-Bold.woff") format("woff"),
    url("../fonts/Noah-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Noah Bold Italic";
    src: url("../fonts/Noah-BoldItalic.eot") format("eot"),
    url("../fonts/Noah-BoldItalic.woff") format("woff"),
    url("../fonts/Noah-BoldItalic.woff2") format("woff2");
}

body {
    background-color: #0F0F0F;
    color: #FFFFFF;

}
body,html{

    height:100%;
    margin: 0;

}

.homepage {
    overflow: hidden;
}
.page {
    overflow-x: hidden;
}

footer,header {
    width: 100%;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}

a:hover {
    color:#1E90FF !important;
}



/* HEADER */
header {
    height: 10vh;
    z-index: 500;
}
.header .toplogo{
    position: absolute;
    width: 100px;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50% , 50%);
}
#menu-web {
    padding: 20px 20px 0 20px;
    text-transform: uppercase;
    font-family: "Porpora";
    font-size: 16px;
    display: flex;
  /*  padding: 20px 20px 0 20px; */
 }


#menu-web ul li {
    margin-bottom: 5px;
}

#menu-web a {
    color:#FFFFFF;
    text-decoration: none;
}

#menu-web img {
  width: 100%;

}

#menu-left  {
    flex: 1 1 auto;

}

#menu-right {
    display: flex;
}

#menu-right li:first-child {
    flex-grow: 1;
}

.progress-bar {
    content: '';
    display: block;
    width: 5px;
    height: 0%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #1E90FF;
    transition:1s;
}

/* FOOTER */

footer {
    height: 6vh;
    bottom: 0;
}
.homepage footer {
    position: absolute;
}

#footer-links {
    height: 100%;
    font-family: "Porpora";
    font-size: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-home li{
    flex: 1 1;
}
.footer-home li:first-of-type{
    text-align: right;
    margin-right: 0.5rem;
}
.footer-home li:nth-of-type(2){
    text-align: left;
    margin-left: 0.5rem;
}
#footer-links a {
    color:#FFFFFF;
    text-decoration: none;
}

.opacity {
    opacity: 0.5;
}

.footer-page{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: 'Porpora';
    font-size: 15px;
    margin: 0;
    opacity: .5;
}
/* HOME */

#home-img {
    width: 1000px;
}

#home-screen {
    height: 80vh;
    font-family: "Noah";
    font-size: 22px;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    box-sizing: border-box;
    padding-left: 400px;
    padding-right: 200px;
}


#home-desc {
    display: flex;
    margin-left: 10px;
    margin-top: 50px;
    flex-grow: 1;
    flex-direction: column;

}

.home-anim{
    height: auto;
    position: absolute;
    width: auto;
    z-index: -1;
    margin-right: 10%;
}
#stars {
    z-index: -99;
    position: absolute;
}
#home-desc span {
    height: 28px;
}
/* HOME CONTENU */

.home-scroll {
    background-repeat: no-repeat;
}

.home-link{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color: white;
}

.home-link:hover {
    color: white !important;
}
#home-poch-offi {
    background: url("../img/sazura_home_pochette_officielle.png")  no-repeat;
    background-size: 100%;
    background-position: center center;

}
#home-poch-alter {
    background: url("../img/sazura_home_pochette_alternative.png") no-repeat;
    background-size: 100%;
    background-position: center center;
}
#home-vision {
    background: url("../img/sazura_home_vision.jpg") no-repeat;
    background-size: 100%;
    background-position: center center;
}

#home-affiche {
    background: url("../img/sazura_home_affiche.png") no-repeat;
    background-size: 100%;
    background-position: center center;
}

#home-logo {
    background: url("../img/sazura_home_logo.png") no-repeat;
    background-size: 100%;
    background-position: center center;
}

#home-wallpaper {
    background: url("../img/sazura_home_wallpaper.png") no-repeat;
    background-size: 100%;
    background-position: center center;
}

#home-13block {
    background: url("../img/sazura_home_concert_13block.png") no-repeat;
    background-size: 100%;
    background-position: center center;
}

#home-zamdane {
    background: url("../img/sazura_home_concert_zamdane.png") no-repeat;
    background-size: 100%;
    background-position: center center;
}

#home-palace {
    background: url("../img/sazura_home_concert_palace.png") no-repeat;
    background-size: 100%;
    background-position: center center;
}

.home-scroll {
    /*width: 1400px;*/
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-scroll h2 {
    font-family: 'Noah Bold';
    font-size: 80px;
    margin: 0;
}

.home-scroll span {
    font-family: "Porpora";
    font-size: 20px;
    color:#1E90FF;
    width: 100%;
    margin-right: 10vw;
    text-align: end;
}

.top-title{
    position: absolute;
    opacity: 0.3;
    top: 13%;
}

.bottom-title{
    position: absolute;
    opacity: 0.3;
    bottom: 11%;
}

/* HOME BOUTIQUE */

.home-boutique  {
    display: flex;
    justify-content: center;
}

.home-boutique .left-boutique  {
    flex-direction: column;
    display: flex;
    margin-right: 140px;
}

.home-boutique .left-boutique img {
    width: 500px;
    height: 500px;
}

.home-boutique img {
    width: 600px;
    height: 600px;
}

.home-boutique .btn-boutique {
    margin: auto;
    font-family: 'Noah Bold';
    width: 350px;
    text-align: center;
    border-color: white;
    font-size: 70px;
    border: 2px solid;
    border-radius: 0px;

    padding: 0;
}

.home-boutique .btn-boutique a {
    color: white;
    text-decoration: none;
}


.home-boutique .btn-boutique a:hover {
    color: black !important;
    text-decoration: none;
}

.home-contact {
    height: 80%;
}
.contact-title {
    font-family: 'Noah';
    color:#1E90FF;
    font-size: 100px;
    padding-top: 8%;
    text-align: center;
}

.contact-text {
    font-family: 'Noah Bold';
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

.contact-email {
    font-family: 'Noah';
    color:#1E90FF;
    text-align: center;
    font-size: 50px;
    margin-top: 35px;
}

.contact-text p{
    margin: 0;
}
.contact-footer .title {
    font-family: 'Noah';
    font-size: 20px;
}
.contact-footer {
    text-align: center;
    margin-top: 70px;
}
.contact-footer .mail {
    font-family: 'Noah';
    font-size: 25px;
    color:#1E90FF;
}


/* AUTRES PAGES  */

.col-img {
    width: 600px;
   /* margin-bottom: 90px;
    margin-top: 90px;
    margin-right: 100px;
    margin-left: 80px; */
}
.page-title {
    font-family: 'Noah Bold';
    text-align: center;
    font-size: 70px;
    margin-top: 80px;
    margin-left: 40px;
}


.col-logo {
    width: 1380px;
    height: 777px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 45px;
}

#affiche-travis {
    height: 899px;
}

#zamdane-5 {
    width: 1380px;
    height: 920px;
}

.img-title {
    position: absolute;
    text-align: center;
    display: none;
    font-family: 'Noah Bold';
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.img-desc {
    position: absolute;
    text-align: center;
    font-family: 'Noah Bold';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    display: none;

}

.img-desc h2 {
    font-family: 'Noah Bold';
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
}

.img-desc p {
    font-family: 'Noah';
    font-size: 20px;
    margin: 0;
}

.img-desc p.bold {
    font-family: 'Noah Bold';
}


.gallery-img {
    cursor: pointer;
    position: relative;
    margin-bottom: 90px;
    margin-top: 90px;
    margin-right: 100px;
    margin-left: 80px;
    
}

.modal-img {
    width: 800px;
}

.modal-photo {
    width: 600px;
}
.modal-backdrop
{
    opacity:0.6 !important;
}
  
.modal-content {
    border-radius: 0;
    background-color: unset;
    background-clip: unset; 
    border: unset; 
    border-radius: unset; 
    outline: unset;
}

.modal-close {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 200%;
    cursor: pointer;
}

/* PAGE CONTACT */
.contact-social {
    display: flex;
    justify-content: center;
}

.contact-social p{
    font-size: 20px;
    font-family: 'Noah';
    margin-top: 40px;
    margin-right: 20px;
}
.contact-arobase {
    font-family: 'Noah';
    color: #1E90FF;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

/* Stars background css*/


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    display:block;
}

.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:-5;
}

.twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:-4;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}
/* burger meny */
.burger span{
    width: 60px;
    height: 4px;
    background: white;
    border-radius: 5px;
    position: absolute;
}
.burger span::after{
   content: '';
    width: 60px;
    position: absolute;
    transform: translateY(10px);
    height: 4px;
    background: white;
    border-radius: 5px;
}
.burger {
    display: none;
    position: absolute;
    top: 4%;
    height: 20px;
    width: 50px;
    right: 5%;
}

/* Responsive */

@media (max-width: 768px) {
    .burger{
        display: block;
    }
    .container {
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .home-anim{
        margin: 0;
        width: 90%;
    }
    #home-screen{
        padding: 0;
        flex-direction: column;
    }
    #home-desc{
        display: none;
    }
    #home-img{
        width: 400px;
    }
    .home-scroll h2 {
        font-size: x-large;
    }

    .bottom-title, .top-title{
        display: none;
    }
    .home-scroll{
        height: 100vh;
    }
    .home-scroll .home-link{
        height: 100%;
    }
    .home-scroll .home-link span{
        display: none;
    }

    /* header */
    header #menu-left,#menu-right{
        display: none;
    }
    .header .toplogo{
        top: 2%;
        left: 2%;
        right: initial;
        transform: none;
        z-index: 999;
    }
    .burger{
        z-index: 999999;
    }
    .header{
        left: 100%;
        transition: all 1s;
    }
    .header.active{
        transition: all 1s;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .header.active #menu-left{
        flex: initial;
    }
    .header.active #menu-left{
        display: block;
    }
    .header.active #menu-right{
        display: block;
    }
    .header.active{
        left: 0;
        height: 100vh;
        width: 100%;
        background: black;
        position: absolute;
        z-index: 998;
    }
    .burger.active{
        transition: 1s all;
    }
    .burger.active span{
        transition: 1s all;
        width: 40px;
        transform: rotate(45deg);
    }
    .burger.active span::after{
        transition: 1s all;
        width: 40px;
        transform: rotate(-90deg);

    }
}