<!DOCTYPE html>
<html>

    <div class="burger">

        <span></span>

    </div>



    <div id="menu-web" class="header">
        <div class="progress-bar"></div>
        <ul id="menu-left">
            <li><a id="graphisme" href="#">Graphisme</a></li>
            <li><a id="photographie" href="#">Photographie</a></li>
            <li><a id="boutique" href="#">Boutique</a></li>
        </ul>
        <ul id="menu-right">

            <li><a id="contact" href="{{ path('contact') }}">Contact</a></li>
        </ul>
        <a class="toplogo" href="{{ path('index') }}"><img src="{{ asset('img/sazura_logo_blanc.png') }}" alt="sazura_logo_blanc"></a>

    </div>



</html>
